<div class="background">
  <div class="home-container">
    <div class="header">
      <h1>Bienvenido al universo de FPA</h1>
      <p>Automatiza la técnica FPA de IFPUG con múltiples ventajas usando ChatGPT</p>
    </div>

    <div class="features">
      <div class="feature slide-in-left">
        <img src="assets/feature1.jpg" alt="Característica rapidez" class="slide-in-left">
        <h3>Análisis Rápido</h3>
        <p>Realiza un análisis FPA de forma rápida y sencilla.</p>
      </div>
      <div class="feature fade-in">
        <img src="assets/OpenAI-logo.png" alt="Característica OpenAI" class="fade-in">
        <h3>Integración con ChatGPT</h3>
        <p>Utiliza el poder de ChatGPT para tus cálculos.</p>
      </div>
      <div class="feature slide-in-right">
        <img src="assets/feature3.jpg" alt="Característica resultados" class="slide-in-right">
        <h3>Resultados Precisos</h3>
        <p>Obtén resultados precisos y detallados con solo 1 botón.</p>
      </div>
    </div>

    <div class="cta">
      <button class="cta-button bounce" (click)="goTo()">Comienza Ahora</button>
    </div>


  </div>
</div>
