<div class="background" [class.loadingScreen]="isLoading">
  <div class="profile-container">
    <div class="header">
      <h1>Perfil</h1>
      <p>Visualiza y actualiza tu información personal</p>
    </div>

    <div class="profile-content">
      <div class="profile-image">
        <img [src]="profileData.photo || 'assets/Default-profile.png'" alt="Imagen de perfil">
        <button class="action-button" (click)="onUploadImage()" [disabled]="!isEditing">Subir Imagen</button>
        <input type="file" id="fileInput" (change)="onFileChange($event)" hidden>
      </div>

      <div class="profile-details">
        <form (ngSubmit)="onProfileSubmit()">
          <div class="profile-field">
            <label for="email">Correo</label>
            <input type="email" id="email" [(ngModel)]="profileData.email" name="email" [disabled]="true" required>
          </div>
          <div class="profile-field">
            <label for="username">Nombre de Usuario</label>
            <input type="text" id="username" [(ngModel)]="profileData.username" name="username" [disabled]="!isEditing" required>
          </div>
          <div class="profile-field">
            <label for="firstName">Nombre</label>
            <input type="text" id="firstName" [(ngModel)]="profileData.firstName" name="firstName" [disabled]="!isEditing" required>
          </div>
          <div class="profile-field">
            <label for="lastName">Apellidos</label>
            <input type="text" id="lastName" [(ngModel)]="profileData.lastName" name="lastName" [disabled]="!isEditing" required>
          </div>
          <button type="button" class="edit-button" (click)="isEditing = !isEditing">Editar</button>
          <button type="submit" class="action-button" [disabled]="!isEditing">Actualizar</button>
        </form>
      </div>
    </div>

  </div>

  <div *ngIf="isLoading" class="loading">
    <img src="assets/Loading.gif" alt="Cargando...">
  </div>

  <div *ngIf="showErrorModalFlag" class="error-modal">
    {{modalMsg}}
  </div>

  <div *ngIf="showSuccessModalFlag" class="success-modal">
    {{modalMsg}}
  </div>
</div>
