<div class="background" [class.loadingScreen]="isLoading">
  <div class="access-container">
    <div class="tabs">
      <button [class.active]="isLogin" (click)="toggleLogin(true)">Iniciar Sesión</button>
      <button [class.active]="!isLogin" (click)="toggleLogin(false)">Registrarse</button>
    </div>

    <div *ngIf="isLogin" class="login-container">
      <div class="login-form">
        <h2>Iniciar Sesión</h2>
        <form (ngSubmit)="onLoginSubmit()">
          <input type="text" placeholder="Correo o Nombre de Usuario" [(ngModel)]="loginData.email" name="email" required>
          <input type="password" placeholder="Contraseña" [(ngModel)]="loginData.password" name="password" required>
          <button type="submit" class="action-button">Acceder</button>
        </form>
      </div>

      <div class="vertical-bar"></div>

      <div class="login-options">
        <button class="login-option-button google" (click)="enterGoogle()">
          <img src="assets/LogInGoogle.png" alt="Google Login">
          Inicio sesión con Google
        </button>
        <button class="login-option-button github" (click)="enterGitHub()">
          <img src="assets/LogInGitHub.png" alt="GitHub Login">
          Inicio sesión con GitHub
        </button>
      </div>
    </div>

    <div *ngIf="!isLogin" class="register-container">
      <h2>Registrarse</h2>
      <form (ngSubmit)="onRegisterSubmit()">
        <input type="email" placeholder="Correo" [(ngModel)]="registerData.email" name="email" required>
        <input type="text" placeholder="Nombre de Usuario" [(ngModel)]="registerData.username" name="username" required>
        <input type="text" placeholder="Nombre" [(ngModel)]="registerData.firstName" name="firstName" required>
        <input type="text" placeholder="Apellidos" [(ngModel)]="registerData.lastName" name="lastName" required>
        <input type="password" placeholder="Contraseña" [(ngModel)]="registerData.password" name="password" required>
        <input type="password" placeholder="Repetir Contraseña" [(ngModel)]="confirmPassword" name="confirmPassword" required>
        <button type="submit" class="action-button">Registrarse</button>
      </form>
    </div>
  </div>

  <div *ngIf="isLoading" class="loading">
    <img src="assets/Loading.gif" alt="Cargando...">
  </div>

  <div *ngIf="showErrorModalFlag" class="error-modal">
    {{modalMsg}}
  </div>

  <div *ngIf="showSuccessModalFlag" class="success-modal">
    {{modalMsg}}
  </div>
</div>


