<div class="toolbar" role="banner">
  <span class="fpa">FPA</span>
  <span class="with">with</span>
  <span class="openai-power">OPENAI POWER</span>
  <img
    width="35"
    src="assets/OpenAI-logo.png"
    alt="OpenAI Logo"
  >
  <div class="spacer"></div>
  <button class="toolbar-button">
    <img src="assets/Casa.png" alt="Casa Logo" class="button-icon" />
    Inicio
  </button>
  <button class="toolbar-button">
    <img src="assets/Info.png" alt="Info Logo" class="button-icon" />
    ¿Quienes somos?
  </button>
</div>
<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>
