.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.icon {
  margin-left: 20px;
  height: 16px;
  width: 16px;
}

.user {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.fixed {
  display: flex;
  flex-direction: row;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 40px;
  background-color: #F1FFFC;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 2px solid #878787;
  box-sizing: border-box;
}

.user-input {
  height: 150px;
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;

  overflow: hidden;
  resize: none;
}

.button-container {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
}

.action-button {
  background-color: #00A67E;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 -2px 4px rgba(255, 255, 255, 0.5) inset;
  margin-bottom: 30px;
}

.action-button:hover {
  background-color: #00765F;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 15px;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.loadingScreen {
  position: relative;
  pointer-events: none;
}

.loadingScreen::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.loading img {
  width: 100px;
  height: 100px;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #1b5e20;
  text-decoration: none;
}

.modal h2 {
  margin-top: 0;
  font-size: 24px;
  color: #388e3c;
}

.modal p {
  font-size: 18px;
  color: #666;
  margin-bottom: 15px;
  line-height: 1.6;
}

.chart-container {
  display: flex;
  align-items: center;
}

.total-fp {
  margin-left: 20px;
  margin-top: 50px;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 20px;
  margin-right: 50px;
}

.select-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: large;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

option[disabled]:first-child {
  display: none;
}

.select-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 8rem;
}

.select-container label {
  margin-top: 10px;
}

.select-container select {
  width: 200px;
}

.select-container p {
  margin-top: 10px;
  text-align: right;
}

.download-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 20px;
}

.save-button {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.save-button img {
  width: 20px;
  height: 20px;
}

.save-button:hover {
  background-color: #0056b3;
}

.save-button:hover img {
  opacity: 0.8;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  text-align: left;
  border: none;
  background-color: #f1f1f1;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

.modal-content-record {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.record-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.record-button {
  width: 10000%;
  padding: 10px;
  font-size: 16px;
  text-align: left;
  border: none;
  background-color: #f1f1f1;
  cursor: pointer;
}

.record-button:hover {
  background-color: #ddd;
}

.api-key-container {
  margin-bottom: 20px;
  margin-right: 20px;
}

.api-key-container label {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.api-key-input {
  width: 140%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
}

.instruction-text {
  font-family: Arial, sans-serif;
  font-weight: bold !important;
  margin-left: 150px;
  font-size: 16px;
  font-weight: normal;
}

.error-modal {
  background-color: rgba(255, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
