<div class="content" [class.loadingScreen]="isLoading">
  <div class="fixed">
    <div class="user">
      <div class="header">
        <p>Escriba el enunciado del que desea saber información:</p>
        <img class="icon" src="assets/Ask.png" alt="Icono" (click)="openModal()">
      </div>
      <textarea #userInput class="user-input" placeholder="Escribe aquí..." [disabled]="isLoading"></textarea>
    </div>

    <div class="button-container">
      <button (click)="logTextCalcular(userInput.value)" class="action-button" [disabled]="isLoading">Calcular Funciones</button>
      <button (click)="logTextComplejidad(userInput.value)" class="action-button" [disabled]="isLoading">Calcular Complejidad</button>
      <button (click)="openRecordModal()" class="action-button" [disabled]="isLoading">Historial</button>
    </div>
  </div>

  <div *ngIf="result" class="download-buttons">
    <button class="save-button" (click)="openSavePopup()">
      <img src="assets/Save.jpg" alt="Guardar">
      Guardar
    </button>
    <button class="save-button" (click)="saveResult()">
      <img src="assets/Download.jpg" alt="Descargar">
      Descargar
    </button>
  </div>

  <div *ngIf="isModalOpen" class="modal" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Ayuda</h2>
      <p><strong>Cuadro de texto:</strong> Aquí puede escribir el enunciado del que desea obtener información.</p>
      <p><strong>Botón "Calcular Funciones":</strong> Detecta las funciones de datos y transaccionales encontradas en el enunciado.</p>
      <p><strong>Botón "Calcular Complejidad":</strong> Calcula la complejidad de las funciones encontradas en el enunciado.</p>
    </div>
  </div>

  <div *ngIf="isLoading" class="loading">
    <img src="assets/Loading.gif" alt="Cargando...">
  </div>

  <div *ngIf="result && !isLoading">
    <h2 *ngIf="selectedAction === 'calcular'">Resumen de Funciones</h2>
    <h2 *ngIf="selectedAction === 'complejidad'">Resumen de Complejidades</h2>
    <h3 *ngIf="selectedAction === 'complejidad'">Resumen de Complejidad en las Funciones de Datos</h3>

    <table border="1" *ngIf="selectedAction === 'calcular'">
      <thead>
        <tr>
          <th>Entidad</th>
          <th>Tipo</th>
          <th>Funciones Transaccionales</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let key of getObjectKeys(result.Resultado)">
          <td>{{ result.Resultado[key].Nombre }}</td>
          <td>{{ result.Resultado[key].Tipo }}</td>
          <td>{{ getFunctions(result.Resultado[key]) }}</td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="selectedAction === 'complejidad'">
      <table border="1">
        <thead>
          <tr>
            <th>Entidad</th>
            <th>Tipo</th>
            <th>Complejidad DET</th>
            <th>Complejidad RET</th>
            <th>Puntos Función</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let key of getObjectKeys(result.Resultado)">
            <td>{{ result.Resultado[key].Nombre }}</td>
            <td>{{ result.Resultado[key].Tipo }}</td>
            <td>{{ result.Resultado[key].ComplejidadDET }}</td>
            <td>{{ result.Resultado[key].ComplejidadRET }}</td>
            <td>{{ result.Resultado[key].PuntosFuncion }}</td>
          </tr>
        </tbody>
      </table>

      <h3>Resumen de Complejidad en las Funciones Transaccionales</h3>
      <table border="1">
        <thead>
          <tr>
            <th>Entidad</th>
            <th>Función</th>
            <th>Tipo</th>
            <th>Complejidad DET</th>
            <th>Complejidad FTR</th>
            <th>Puntos Función</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let key of getObjectKeys(result.Resultado)">
            <tr *ngFor="let func of result.Resultado[key].FuncionesTransaccionales">
              <td>{{ result.Resultado[key].Nombre }}</td>
              <td>{{ func.Nombre }}</td>
              <td>{{ func.Tipo }}</td>
              <td>{{ func.ComplejidadDET }}</td>
              <td>{{ func.ComplejidadFTR }}</td>
              <td>{{ func.PuntosFuncion }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <hr>
      <h3>Resumen General</h3>
      <div class="chart-container">
        <pie-chart [chartData]="{ labels: ['Puntos Funcion funciones de datos', 'Puntos Funcion funciones transaccionales'], data: FP, backgroundColor: ['rgb(0, 100, 0)', 'rgb(144, 238, 144)'] }"></pie-chart>
        <div class="total-fp">
          TOTAL FP: {{ FP[0] + FP[1] }}
        </div>
        <div class="select-container">
          <label for="languageSelect" class="select-label">Seleccione una lenguaje:</label>
          <select id="languageSelect" (change)="showLanguage($event)" [(ngModel)]="selectedLanguageId">
            <option value="" disabled selected>-- Seleccione una lenguaje --</option>
            <option *ngFor="let language of languages" [value]="language.id">{{ language.language }}</option>
          </select>
          <label for="productivitySelect" class="select-label">Seleccione la productividad:</label>
          <select id="productivitySelect" (change)="showProductivity($event)" [(ngModel)]="selectedProductivity">
            <option value="" disabled selected>-- Seleccione la productividad --</option>
            <option value="high">Alta</option>
            <option value="medium">Media</option>
            <option value="low">Baja</option>
          </select>
        </div>
        <div class="total-fp" *ngIf="selectedLanguage && selectedProductivity">
          <p>Horas estimadas: {{ estimatedHours }}</p>
        </div>
      </div>
    </div>

    <h2>JSON</h2>
    <pre>{{ getFormattedJson() }}</pre>
  </div>
  <div *ngIf="isRecordModalOpen" class="modal" (click)="closeRecordModal()">
    <div class="modal-content-record" (click)="$event.stopPropagation()">
      <span class="close" (click)="closeRecordModal()">&times;</span>
      <h2>Historial de Registros</h2>
      <ul>
        <li *ngFor="let record of profileData.record; let i = index">
          <div class="record-item">
            <button class="record-button" (click)="loadRecord(record)">
              {{ record.name }}
            </button>
            <button class="edit-button" (click)="editRecordName(record, i)">
              <img src="assets/Edit.png" alt="Editar">
            </button>
            <button class="delete-button" (click)="deleteRecord(i)">
              <img src="assets/Delete.png" alt="Eliminar">
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>




