<div class="content">
  <div class="user">
    <div class="header">
      <p>Escribe el enunciado donde se obtendrá el tamaño funcional:</p>
      <img class="icon" src="assets/Ask.png" alt="Icono">
    </div>
    <textarea #userInput class="user-input" placeholder="Escribe aquí..."></textarea>
  </div>

  <div class="button-container">
    <button (click)="logTextCalcular(userInput.value)" class="action-button">Calcular</button>
    <button (click)="logTextComplejidad(userInput.value)" class="action-button">Complejidad</button>
  </div>
</div>
